<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@drawable/ic_carplay"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@drawable/ic_carplay"
        android:supportsRtl="true"
        android:theme="@style/Theme.Xcertplay">

        <receiver
            android:name="com.shilapi.xcertplay.BootReceiver"
            android:enabled="true"
            tools:replace="android:enabled" />

        <service android:name="com.shilapi.xcertplay.shared.MyCarAppService" tools:node="remove" />
        <meta-data android:name="androidx.car.app.minCarApiLevel" tools:node="remove" />

        <!-- The launcher entry moves to the aliases below so the app-list name can be switched. -->
        <activity
            android:name="com.shilapi.xcertplay.DiPlayActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="com.shilapi.xcertplay.LauncherAliasCn"
            android:label="@string/app_name"
            android:enabled="true"
            android:exported="true"
            android:targetActivity="com.shilapi.xcertplay.DiPlayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="com.shilapi.xcertplay.LauncherAliasDiplay"
            android:label="@string/alias_label_diplay"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="com.shilapi.xcertplay.DiPlayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="com.shilapi.xcertplay.LauncherAliasCarplay"
            android:label="@string/alias_label_carpaly"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="com.shilapi.xcertplay.DiPlayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="com.shilapi.xcertplay.LauncherAliasNavi"
            android:label="@string/alias_label_navi"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="com.shilapi.xcertplay.DiPlayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="com.shilapi.xcertplay.LauncherAliasMap"
            android:label="@string/alias_label_map"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="com.shilapi.xcertplay.DiPlayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="com.shilapi.xcertplay.LauncherAliasLink"
            android:label="@string/alias_label_link"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="com.shilapi.xcertplay.DiPlayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="com.shilapi.xcertplay.LauncherAliasMedia"
            android:label="@string/alias_label_media"
            android:enabled="false"
            android:exported="true"
            android:targetActivity="com.shilapi.xcertplay.DiPlayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>
